@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');
body {
	font-family: 'Baloo Paaji 2', cursive;
	font-weight: 400;
	font-size: 12px;
	overflow-x: hidden;
}


/*text*/

h1,
h2,
h3,
h4,
h5,
legend {
	font-weight: 700;
}

h1 {
	margin-bottom: 20px;
}

a {
	color: #83B735;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

a:hover,
a:focus {
	color: #000;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}

.title {
	padding: 20px 40px;
	border-top: 2px solid #83B735;
	color: #83B735;
	border-bottom: 2px solid #83B735;
	text-align: center;
	margin: 20px auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.nav-tabs {
	margin-bottom: 10px;
}


/*icons*/

.icon {
	font-size: 28px;
}

.shopping-bag {
	margin-top: 11px;
}

.shopping-bag-icon {
	position: relative;
}


/*scrollbar*/

 ::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

 ::-webkit-scrollbar-track {
	background-color: #eaeaea
}

 ::-webkit-scrollbar-thumb {
	background-color: #9699a2
}

 ::-webkit-scrollbar-thumb:hover {
	background-color: #555
}


/*inputs*/

.form-control {
	height: 46px;
	margin-bottom: 20px;
	min-width: 50px;
}

.form-control::-webkit-input-placeholder {
	color: #7e8e9f;
}

.form-control::-moz-placeholder {
	color: #7e8e9f;
}

.form-control:-ms-input-placeholder {
	color: #7e8e9f;
}

.input-group-addon,
#input-limit,
#input-sort {
	height: 46px;
	padding: 12px 25px 12px 12px;
}

.input-group-addon {
	font-size: 16px!important;
}


/*tables*/

.table .btn {
	height: auto;
}

.table,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 8px 20px;
	background: #fff;
	border-width: 1px;
	border-color: #f0f3f6;
	vertical-align: middle;
}

.table {
	margin-bottom: 0;
}

.table>thead {
	font-weight: 700;
}

.table>tbody+tbody {
	border-top: none;
}

.table-responsive {
	margin-bottom: 40px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(215, 221, 228, 0.6);
	box-shadow: 0 1px 3px 0 rgba(215, 221, 228, 0.6);
}


/*image*/

.img-responsive {
	margin: auto;
	width: 100%;
}


/*list*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: #fff;
	background-color: #83B735;
	border-color: #83B735;
}


/*header*/

header {
	min-width: 100%;
	padding: 15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: background 2.5s ease, box-shadow 1.3s;
	-webkit-transition: background 2.5s ease, -webkit-box-shadow 1.3s;
	transition: background 2.5s ease, -webkit-box-shadow 1.3s;
	-o-transition: background 2.5s ease, box-shadow 1.3s;
	transition: background 2.5s ease, box-shadow 1.3s;
	transition: background 2.5s ease, box-shadow 1.3s, -webkit-box-shadow 1.3s;
}

.flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/*menu*/

.hidden-menu {
	display: block;
	position: fixed;
	list-style: none;
	padding: 10px;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 200px;
	background-color: #eee;
	height: 100%;
	top: 0;
	left: -200px;
	-webkit-transition: left .2s;
	-o-transition: left .2s;
	transition: left .2s;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
	display: none;
}

.btn-menu {
	padding: 5px;
	position: relative;
	top: 5px;
	left: 5px;
	cursor: pointer;
	-webkit-transition: left .3s;
	-o-transition: left .3s;
	transition: left .3s;
	z-index: 3;
	width: 36px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	outline: 0;
}

.btn-menu:hover span.second {
	width: 46px;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}

.btn-menu:hover span.third {
	width: 56px;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}

.btn-menu span {
	display: block;
	height: 2px;
	background-color: #83B735;
	margin: 5px 0 0;
	-webkit-transition: all .1s linear .3s;
	-o-transition: all .1s linear .3s;
	transition: all .1s linear .3s;
	position: relative;
}

.btn-menu span.first {
	margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
	left: 160px;
	position: fixed;
}

.hidden-menu-ticker:checked~.hidden-menu {
	left: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
	-webkit-transform: rotate(45deg);
	top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
	opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
	-webkit-transform: rotate(-45deg);
	top: -10px;
}

.hidden-menu-ticker:checked~.btn-menu span.first,
.hidden-menu-ticker:checked~.btn-menu span.second,
.hidden-menu-ticker:checked~.btn-menu span.third {
	width: 26px!important;
}

.hidden-menu a {
	font-size: 20px;
	padding: 10px;
	display: block;
	text-align: center;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.hidden-menu a:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}


/*cart*/

#cart-itemscount {
	position: absolute;
	top: 0;
	right: -22px;
	font-size: 13px;
	color: #fff;
	background: #83B735;
	padding: 0px 9px;
	border-radius: 20px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-box-shadow: 0 0 0 4px rgba(89, 194, 30, 0.41);
	box-shadow: 0 0 0 4px rgba(89, 194, 30, 0.41);
}

#cart .ion-ios-close-empty:hover {
	color: #83B735;
}

#cart .empty-cart {
	margin: 0;
	padding: 15px 30px;
}

#cart:hover #cart-itemscount {
	background: #7e8e9f;
	-webkit-box-shadow: 0 0 0 4px rgba(126, 142, 159, 0.41);
	box-shadow: 0 0 0 4px rgba(126, 142, 159, 0.41);
}

#cart>.btn {
	position: relative;
	text-align: right;
	line-height: 25px;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

#cart .dropdown-menu {
	margin: 5px -22px 0 0;
	z-index: 1001;
}

#cart .dropdown-menu .btn {
	margin-bottom: 6px;
}

#cart .img-thumbnail {
	padding: 0;
	max-width: 64px;
	border: none;
	padding: 4px;
	border-radius: 4px;
}

#cart .dropdown-menu table {
	margin-bottom: 10px;
}

#cart .dropdown-menu li>div {
	min-width: 427px;
	padding: 0 10px;
}

.cart-link {
	padding: 5px 0 15px;
}


/*search*/

.search-btn {
	margin-top: 18px;
	margin-left: 25px;
}

.search-btn .btn {
	padding: 0 1px;
}

header .btn-search .dropdown-menu {
	margin-top: 8px;
}

header .btn-search .dropdown-menu .dropdown-triangle:before {
	left: 90%;
}

#search {
	padding: 4px 10px;
}

#search .btn {
	padding: 12px 15px;
}

#search .form-control {
	min-width: 150px;
}


/*account*/

.account {
	margin-top: 3px;
	padding: 0;
	margin-left: 20px;
}

.account .list-inline {
	margin: 0;
}

.account .dropdown-menu>li>a {
	padding: 13px 20px;
}

.account .icon-account i {
	font-size: 48px;
}

.account .dropdown-menu .dropdown-triangle:before {
	left: 86%;
}

.lang {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-bottom: 2px #8f9dab solid;
	padding: 13px 20px;
}

.dropdown-menu-right>li>a {
	padding: 13px 20px;
	text-align: center;
}

.language-select {
	padding: 5px;
	background: none;
	border: none;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.language-select>img {
	margin-right: 10px;
}


/*slideshow*/

.owl-wrapper-outer {
	border: 0px!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.owl-pagination {
	margin-bottom: 50px;
}


/*main block*/

#content {
	min-height: 700px;
	margin-bottom: 40px;
}


/*breadcrumb*/

.breadcrumb {
	background: transparent;
	padding: 0;
}

.breadcrumb>li {
	padding: 0 16px;
	position: relative;
	white-space: nowrap;
}

.breadcrumb>li:first-child {
	padding-left: 0;
}

.breadcrumb>li+li:before {
	content: '';
	padding: 0;
}

.breadcrumb>li:after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	right: -5px;
	width: 12px;
	height: 12px;
	border-right: 1px solid #ccd3db;
	border-bottom: 1px solid #ccd3db;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.breadcrumb>li:last-child:after {
	display: none;
}


/*alert*/

.alert {
	margin: 30px 0;
	border-radius: 2px;
}

.alert i {
	margin-top: 2px;
}

.alert h4 {
	margin-bottom: 10px;
	font-weight: bold;
}

.alert-dismissable .close {
	color: black;
}

.alert-info,
.alert-warning,
.alert-success {
	color: #7e8e9f;
	background-color: #d9dee4;
	border-color: #d9dee4;
}

.close {
	position: relative;
	top: -2px;
	color: #434a54;
	text-shadow: none;
	opacity: 1;
}

.alert a:hover,
.close:hover {
	opacity: 1;
}


/*pagination*/

.pagination {
	margin: 0;
	border-radius: 2px;
}

.pagination>li>a,
.pagination>li>span {
	color: #4f5f6f;
	background: #dbe1e8;
	border: 1px solid #dbe1e8;
	padding: 12px 15px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #fff;
	background: #7e8e9f;
	border: 1px solid #7e8e9f;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: #fff;
	background: #83B735;
	border: 1px solid #83B735;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}


/*buttons*/

.btn {
	height: 46px;
	font-size: 16px;
	padding: 12px 25px;
	background: none;
	border-radius: 0;
	outline: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.btn:active,
.btn.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-buy {
	background: none;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	width: 50px;
	height: 50px;
	padding: 8px;
	background: #83B735;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 50%;
	outline: 0;
	color: #fff;
	border: none;
}

.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus,
.btn-buy.active,
.btn-buy.disabled,
.btn-buy[disabled] {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	background: #7e8e9f;
	outline: 0;
}

.btn-info {
	color: #fff;
	background-color: #83B735!important;
	border-color: #83B735!important;
	border-radius: 2px;
	outline: 0;
}

.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus,
.btn-buy.active,
.btn-buy.disabled,
.btn-buy[disabled] {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	background-color: #83B735!important;
	border-color: #83B735!important;
	outline: 0;
}

.btn-default,
.btn-primary {
	color: #fff;
	background: #7e8e9f;
	border: 1px solid #7e8e9f;
	border-radius: 2px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled],
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #fff;
	background: #6b7987;
	border: 1px solid #6b7987;
	outline: 0;
}

.btn-danger {
	color: #7e8e9f;
	background: none;
	border: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	color: #59c2e6;
	background: none;
	border: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
	color: #59c2e6;
	background-color: transparent;
	border-color: transparent;
	outline: 0;
}

.btn-sm,
.btn-group-sm>.btn {
	height: 36px;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
}

.btn-lg,
.btn-group-lg>.btn {
	height: 56px;
	font-size: 18px;
}

.btn-register {
	margin-top: 101px;
}

.btn-block+.btn-block {
	margin-top: 3px;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/*footer*/

footer {
	padding: 50px 0 20px;
	background: #83B735;
	color: #fff;
}

footer a {
	color: #fff;
}


/*product card*/

.card {
	width: calc(25% - 20px);
	height: 400px;
	-webkit-perspective: 500px;
	perspective: 500px;
	margin: 10px;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card:hover .content {
	-webkit-transform: rotateY( 180deg);
	transform: rotateY( 180deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.front,
.back {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: white;
}

.front h4 {
	color: #83B735;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

.back {
	-webkit-transform: rotateY( 180deg);
	transform: rotateY( 180deg);
}


/*price*/

.price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
}

.price-new {
	color: red;
	font-size: 18px;
}

.price-old {
	text-decoration: line-through;
	font-weight: 400;
	font-size: 14px;
}

.price-tax {
	font-weight: 400;
	font-size: 12px;
	color: grey;
}


/*product thumbnails*/

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	border-style: none!important;
}

.thumbnails>li {
	margin-left: 20px;
}

.thumbnails {
	margin-left: -20px;
}

.thumbnails>img {
	width: 100%;
}

.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #fff;
}

.image-additional {
	max-width: 78px;
}

.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}


/*media*/

@media (max-width: 1024px) {
	.card {
		width: calc(25% - 20px);
	}
	.col-sm-9 .card {
		width: calc(33% - 20px);
	}
}

@media (max-width: 767px) {
	.hidden-menu {
		overflow: scroll;
	}
	#cart {
		margin-bottom: 20px;
		padding-right: 17px;
	}
	#cart-itemscount {
		display: none;
	}
	.col2 {
		-webkit-box-flex: 100%;
		-ms-flex: 100%;
		flex: 100%;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
	}
	.col2>a>img {
		margin: auto;
		max-width: 150px;
	}
	.col3 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.col1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.flex {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.shopping-bag {
		margin-top: 2px;
	}
	.card,
	.col-sm-9 .card {
		width: calc(50% - 20px)!important;
	}
}

@media (max-width: 478px) {
	#cart .dropdown-menu {
		margin: 5px -90px 0 0;
		min-width: 100%;
	}
	#cart .dropdown-menu li>div {
		min-width: 100%;
	}
	.card,
	.col-sm-9 .card {
		width: calc(100% - 20px)!important;
		margin: auto;
	}
}